body {
  font-family: sans-serif;
  padding: 0px;
}
.logo-menu{
  padding:15px;
  display:flex;
  justify-content:space-between;
  max-height:75px;
}
a{
  border:0px;
}
.logo{
  font-size:32px;
  color:black;
}
.logo img{
  height: 100%;
  width: auto;
}
.logo-menu nav a{
  color:black;
  text-decoration:none;
}
.search-box h1{
  color:white;
}
.search-box{
  width:50%;
  margin:0 auto;
  padding:100px 0px;
  color:white;
}
@media (max-width: 800px){
  .search-box{
    width:100%;
    padding:100px 20px;
  }
}
.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em;
}

.ais-InstantSearch {
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-item {
  margin-bottom: 1em;
  width: calc(50% - 1rem);
}

.ais-Hits-item img {
  margin-right: 1em;
}

.hit-name {
  margin-bottom: 0.5em;
}

.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}
.ais-Highlight-highlighted{
  background-color:yellow;
}
.search-doctor{
  /* font-weight:300;
  font-size:12px; */
}
.search-title{
  padding: 10px 10px 10px 30px;
}
.below-header{
  background-image:url(/assets/desert.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
}
.logo-menu nav.main-nav{
  display: flex;
  align-items: center;
}
.ais-RefinementList-label input{
  display:none;
}
.ais-RefinementList-labelText{
  cursor:pointer;
}
.bm-menu-wrap h3{
  color:white;
  text-decoration:underline;
}
.bm-menu-wrap h2{
  color:white;
}
.bm-menu-wrap ul{
  margin:0px;
  padding:0px;
}
li.bm-item a{
  text-decoration:underline !important;
}
.filters{

}
.ais-RefinementList{
  padding-left:20px;
}
.filters-inner{
  margin-top:5px;
  margin-bottom:20px;
}
.filters:focus{
  outline: none;
}
.ais-RefinementList-item--selected{
  color:#28B7C5 !important;
}
.ais-Pagination-list{
  padding:0px;
  margin:0px;
  display:flex;
  justify-content:center;
}
.ais-Pagination-item{
  padding:10px 20px;
  list-style:none;
}
.upload{
  margin-right:20px;
}
.filters{
  display:flex;
}
.filters li{
  list-style:none;
}
.search-container{
  padding:40px 40px;
}
.ReactModalPortal{
  position: relative;
  z-index:10;
}
.ais-SearchBox-form{
  display:flex;
}
.search-box button{
  background: #fff;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding:10px;
  cursor:pointer;
}
.search-box svg{
  width: 15px;
  height: 15px;
  fill:#5e5e5e;
}
.search-box input{
  width:100%;
  padding: 14.4px 16px;
  -webkit-appearance: none;
  border:0px;
  display: block;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 9px;
    font-weight: 300;
    margin-bottom: 0;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 8px 16px;
    padding-right: 0;
    -webkit-appearance: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}